/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
  .circle{
    background-image: url("/img/WhatsApp\ Image\ 2024-07-09\ at\ 05.39.55_da673c5a.jpg ");
    background-size: cover;
    height: 40em; 
    background-repeat: round;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    text-decoration: none;
    color: #fffbfb;
  }
  
  li a:hover {
    color: #f80d0d;
  }
  
  /* Navigation Styles */
  
  .navigation {
    background-color:  #0abf40;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  
  .bar {
    text-align: center;
  }
  
  .bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .bar li {
    display: inline-block;
  }
  
  .bar li + li {
    margin-left: 20px;
  }
  
  /* About Content Styles */
  
   .about-content {
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
   margin: top 2px;
   margin: 33px

  }
  
  .about-content p {
    font-size: 24px;
    text-align: center;
    text-decoration: dotted;
    color: #180202;
  }
  
  /* History Styles */
  
  .about-history h2 {
    font-size: 24px;
    text-align: center;
    text-decoration: dotted;
    color: #fff;
    background: #0abf40;
    margin: auto;
    width: 150px;
  }
  
  .about-history p {
    font-size: 24px;
    text-align: center;
    text-decoration: dotted;
    color: #180202;
  }
  
  /* Values Styles */
  .about-values h2{
    font-size: 24px;
    text-align: center;
    text-decoration: dotted;
    color: #fff;
    background: #0abf40;
    margin: auto;
    width: 150px;
  }
  
  .about-values ul {
    list-style-type: disc;
  }
  
  .about-values li {
    margin-bottom: .5em;
  }
  .values-content p{
    font-size: 24px;
    text-align: center;
    text-decoration: dotted;
    color: #180202;
  }
  /* Footer Styles */
  
  footer {
    background-color: #030000;
    color: #fff;
    padding: .5em;
  }
  
  footer p {
    font-size: .8em;
  }
 
  footer .button  {
  margin-left:20px;
  display :flex;
  justify-content: center;
  }