/* styles.css */
header {
    background-color: #0abf40;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li a{
    display: flex;
    justify-content: space-between;
}

.circle{
    background-image: url('/img/WhatsApp\ Image\ 2024-07-12\ at\ 14.20.27_17aa82d7.jpg');
    background-size: cover;
    height: 40em; 
    background-repeat: round;
}
.contact-form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.contact-form h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    margin-top: 40px;
}

.contact-info h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-info p {
    margin-bottom: 20px;

}
footer{
    background-color:#333333;    
    color:#FFFFFF;
    padding: 30px;
    text-align: center;
    justify-content: space-between;
} footer   

a  {
    color: #fff;
}
nav a:hover {
    color: #ef0924;
}
a:hover{
    color: #ef0924;
}