/* styles.css */
.ministry-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

.ministry-card {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.ministry-card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.ministry-card p {
    margin-bottom: 20px;
}

.ministry-card a {
    color: #337ab7;
    text-decoration: none;
}