body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #13fff3;
    color: #0e0101;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 36px;
}
head h1 {list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #100202;
    text-decoration: none;
}

nav a:hover {
    color: #ef0924;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
}

section h2 {
    font-size: 24px;
    margin-top: 0;
}

button {
    background-color: #333;
    color: #fff;
    border-style:none;
    padding-left :10px;
    padding-right :10px;
    padding-top :5px;
    padding-bottom :5px; 
    border-radius :5px; 
    font-size :16px; 
    cursor:pointer; 
}

button:hover {
    background-color :#444444; 
    color :#FFFFFF; 
    border-style :none; 
    padding-left :10px; 
    padding-right :10px; 
    padding-top :5px; 
    padding-bottom :5px; 
    border-radius :5px; 
    font-size :16px; 
    cursor:pointer; 
}

footer {
    background-color :#333333; 
    color :#FFFFFF; 
    text-align:center; 
    padding-top :10px; 
    padding-bottom :10px; 

}
footer
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        
    }
    footer nav ul{
        
        color: hwb(0 100% 0%);
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    } footer   
    nav a {
        color: hsl(0, 23%, 91%);
        text-decoration: none;
    }
    